html
  head
    title Subscribe to Hardch.at
    link(type="text/css", rel="stylesheet", href="./static/style.css")
  body
    div(id="container")
      block content
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(type="text/javascript", src="./static/moment.js")
    script(type="text/javascript", src="./static/site.js")
